#mycontainer {
    padding: 10px;
}

.markup-input textarea{
    font-family: "Lucida Console", Monaco, monospace;
}

.note {
    font-size: 40px;
}

.signature {
    font-size: 20px;
}

.octave {

}

.length-dash {
    stroke: rgb(0,0,0);
    stroke-width: 4;
}

.length-underline {
    stroke: rgb(0,0,0);
    stroke-width: 2.5;
}

.bar-line {
    stroke: rgb(0,0,0);
    stroke-width: 2.5;
}

.doublebar-line {
    stroke: rgb(0,0,0);
    stroke-width: 2.5;
}

.slur {
	fill: none;
    stroke: rgb(0,0,0);
    stroke-width: 2.5;
}